@charset "UTF-8";
/* CSS Document */

body{
	padding:0px;
	margin: 0px;
    background: url(../images/Fondo.jpg) repeat-x;
    background-color: #f0f0f0;
}
#navbar{
	background: url(../images/title_bg.png);
	height: 50px;
}
#navbar .logo{
	float: left;
	position: absolute;
}
#promotion{
	height: 200px;
	background: #7c8fa6 url(../images/promo_bg.png) center;
}

#nav-bar a{
        color: white;
        text-decoration: none;
}

#footer .right a{
	color: black;
	text-decoration: none;
}

#footer .right a:hover{
	text-decoration: underline;
}
.breadcrumb{
	margin-bottom: 1em;
    position: relative;
    top: 10px;
    left: 0em;
    text-align: right;
}
.header{
	background: url(../images/title_bg.png);
	padding: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.breadcrumbs.title {
	color: #B8C4D4;
	text-decoration: none;
}
.size {
	font-size: 0.8em;
	color: white;
}

#sider{
    float: left;
    position: relative;
    left: 2em;
    width: 190px;
}
fieldset#shipping{
    left: 220px;   
    position: relative;
}
.banner{
	height:227px;
	background: #788ca4 url(../images/banner-header_small.png) no-repeat center;
}

#logo{
	position: relative;
	width: 300px;
	float: left;
	left: 10%;
}

#titlemenu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
	color: white;
	text-align: right;
	float: right;
	right: 15%;
	position: relative;
}

#titlemenu li a{
    color:#8398b3;
    text-decoration: none;
}

#titlemenu li {
	display: inline;
	padding-left: 1em;
}

#titlemenu .cart{
    color: white;
    text-decoration: none;
}

#titlemenu .cart:hover{
    text-decoration: underline;
}

.per1{
	float: left;
	position: relative;
	width: 280px;
	left: 10%;
}

.fraces{
	float: left;
	position: relative;
	width: 350px;
	left: 15%;
    text-align: center;
}
.per2{
	position: relative;
	float: right;
	width: 280px;
	right: 10%;
	bottom: 1em;
}

#treecol ul{
    width: 1000px;
}

#treecol li{
    display: inline;
}

#treecol div{
    position: relative;
    width: 300px;
    float: left;
}
