<div id="footer">
  <div class="left">
    <a href="http://twitter.com/megustastoremx"><img src="/images/twitter.png"></a>
    <a href="http://www.facebook.com/pages/Me-Gusta-Store/217907061577588"><img src="/images/facebook.png"></a>
  </div>
  <div class="right">
    &copy; <b>Me gusta</b> | <a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="#">Support</a> | <a href="#">Contact</a>
  </div>
</div>   
<%= render 'shared/google_analytics' %>
